@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

$white: #FFFFFF;

$mine-shaft: #292929;
$lima: #6BCB0A;

html, body {
  height: 100%;
}

.btn-default,
.btn-default:hover {
  color: $white;
  border-color: #ccc;
}

.btn-default {
  background-color: $lima;
  border-color: darken($lima, 10%);
}

.btn-default:hover {
  background-color: darken($lima, 5%);
  border-color: darken($lima, 15%);
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-default {
  background-color: $mine-shaft;
  border: none;
}

.navbar-brand a {
  text-decoration: none;
}

.navbar-brand span {
  font-family: 'Alfa Slab One', cursive;
}

.navbar-brand span:first-child {
  color: $lima;
}

.navbar-brand span:nth-child(2) {
  color: $white;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
  color: $white;
}

.weightgraph {
  width: 100%;
}

.nav > li {
  float: left;
}