@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

$white: #FFFFFF;

$mine-shaft: #292929;
$lima: #6BCB0A;

.signin-wrapper,
.signup-wrapper,
.welcome-wrapper {
  height: 95%;
  background-size: cover;
  background-position: 0% 75%;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.signin-wrapper {
  background-image: url('runner.jpeg');
}

.signup-wrapper {
  background-image: url('jumper.jpeg');
}

.welcome-wrapper {
  background-image: url('starsatnight.jpeg');
}

.signin-wrapper h2,
.signup-wrapper h2 {
  text-align: center;
}

.signin-wrapper h2,
.welcome-wrapper h2 {
  color: $white;
}

.signin-wrapper .form-inputs label {
  color: $white;
}

.signup-wrapper .form-inputs label {
  color: $lima;
}

.signup-wrapper .help-block {
  color: $white;
}

.welcome-wrapper h2,
.welcome-wrapper h4 {
  text-align: center;
}

.welcome-wrapper h4 {
  color: lighten(grey, 10%);
}